.contenedor{
    background-color: gainsboro;
}

.imagenportada{
    background-color: greenyellow;
}
.imagenperfil{
    background-color: blueviolet;
    position: relative;
    left: 25px;
    width: 30%;
    border-radius: 30px;
    border: solid 5px black;;

}
.datospersonales{
    background-color: azure;
}